<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <h1>Tasks</h1>
            <table>
                <tr v-for="(task, index) in displayedTasks" :key="index">
                    <td>{{ task.description }}</td>
                    <td class="completeTaskCell" v-if="task.isCompleted">
                        Completed
                    </td>
                    <td class="completeTaskButton" v-else @click="checkTask(task)">
                        Complete Task
                    </td>
                </tr>
            </table>
            <br><br>

            <!------------------------------------------------------->
            <div id="taskSearchPanel">
                <h3>Search for task</h3>
                <input type="text" v-model="taskSearchString">
            </div>
            <br><br>

            <!------------------------------------------------------->
            <form @submit.prevent="addTask">
                <h3>Create new task</h3>
                <label for="taskDescription">Describe the task:</label>
                <input type="text" id="taskDescription" v-model="newTask">
                <br><br>
                <input type="submit" value="Submit">
            </form>
            
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data() {
                    return {
                        tasks: [
                            {
                                description: 'Eat breakfast',
                                isCompleted: false,
                            },
                            {
                                description: 'Go to job',
                                isCompleted: false,
                            },
                        ],
                        newTask: undefined,
                        taskSearchString: '',
                    };
                },
                methods: {
                    addTask() {
                        this.tasks.push({
                            description: this.newTask,
                            isCompleted: false,
                        });
                        this.newTask = '';
                    },
                    checkTask(task) {
                        task.isCompleted = true;
                    },
                    isTaskDisplayed(task) {
                        if (this.taskSearchString === '') {
                            return true;
                        }
                        return task.description.includes(this.taskSearchString);
                    }
                },
                computed: {
                    displayedTasks() {
                        return this.tasks.filter(this.isTaskDisplayed);
                    },
                },
            });
        </script>
    </body>
</html>