body {
    font-family: 'Trebuchet MS';
    background-color: rgb(199, 202, 216);
}

h1 {
    text-align: center;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td.completeTaskButton {
    background-color: #54b450;
    cursor: pointer;
}

td.completeTaskCell {
    background-color: #adadad;
}

tr:nth-child(odd) {
    background-color: #7397da;
}

tr:nth-child(even) {
    background-color: #64708a;
}

#taskSearchPanel {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}